// Global Variables

//Color - Global
$color-paragraph-text: #323232;
$color-text-label-style: #AFAFAF;
$color-text-field-border: #E1E1E1;
$color-text-field-bg-fill: #FAFAFA;

// Color - BandSite
$color-nav-bg-fill: #323232;
$color-primary-cta: #323232;
$color-primary-cta-hover: #0065AD;
$color-hero-img-overlay: rgba(50,50,50,0.5);
