@import "./partials/typography";
@import "./partials/variables";
@import "./partials/mixins";

* {
    box-sizing: border-box;
}
/* Body Block */
.body {
    font-family: $font-family;
    margin: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: $color-text-label-style;
}

.a {
    &--select {
        color: $color-text-offset;
    }
}

.header {
    /* Header Block */
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    background-color: $color-nav-bg-fill;
    &__nav {
        /* Header Block - Navigation Bar */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
    }
    &__nav-link {
        /* Header Block - Navigation Link */
        margin: 15px 8% 0 5%;
    }
    &__nav-list {
        /* Header Block - Navigation List */
        display: flex;
        list-style-type: none;
        padding: 0;
        width: 100%;
    }
    &__nav-list-item {
        @include mobile-h2;
        text-align: center;
        width: 50%;
        &--underline {
            @extend .header__nav-list-item;
            border-bottom: 3px solid $color-text-field-border;
        }
    } 
}

.hero {
    @include flex-center;
    padding-left: 5%;
    padding-right: 5%;
    background-color: $color-hero-img-bg;
    &__image {
        width: 100%;
        opacity: 0.5;
        padding-top: .3%;
    }
    &__text {
        position: absolute;
        @include mobile-h1;
        font-weight: bold;
        color: $color-text-offset;
        width: 85%;
        padding-right: 15%;
    }
}

.about {
    @include flex-center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    &__common {
        color: $color-paragraph-text;
        width: 100%;        
    }
    &__title {
        @include mobile-h1;
        @extend .about__common;
        margin-top: 11%;
    }
    &__image {
        width: 100%;
    }
    &__subhead {
        @include mobile-h2;
        @extend .about__common;
        font-weight: 600;
        margin-top: 8%;
    }
    &__quote-name {
        @include mobile-h4-list-contact;
        @extend .about__common;
        font-weight: 600;
        margin-top: 6%;
    }
    &__names {
        @extend .about__subhead;
        margin-top: 10%;
        &:after {
            content: '\00E9';
        }
    }
    &__main {
        @include mobile-h5-label;
        @extend .about__common;
        margin: 3%;
        &--end {
            margin-bottom: 5%;
        }
    }
    &__spec-last-name {
        @include mobile-h5-label;
        &:after {
            content: $last-name;
        }
    }
}

.gallery {
    @include flex-center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    background-color: $color-text-field-bg-fill;
    &__title {
        @extend .about__title;
    }
    &__img {
        width: 100%;
        padding-bottom: 5%;
    }
}