@import "./partials/typography";
@import "./partials/variables";
@import "./partials/mixins";

* {
    box-sizing: border-box;
}
/* Body Block */
.body {
    font-family: $font-family;
    margin: 0;
    width: 100%;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: $color-text-label-style;
}

.a {
    &--select {
        color: $color-text-offset;
    }
}

.header {
    /* Header Block */
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    background-color: $color-nav-bg-fill;
    &__nav {
        /* Header Block - Navigation Bar */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        @include tablet {
            flex-direction: row;
            justify-content: flex-start;
        }
    }
    &__nav-link {
        /* Header Block - Navigation Link */
        margin: 15px 8% 0 5%;
    }
    &__nav-list {
        /* Header Block - Navigation List */
        display: flex;
        list-style-type: none;
        padding: 0;
        margin-top: 15px;
        width: 100%;
        @include tablet {
            width: 20%;
            margin-top: 12px;
            align-items: flex-start; 
        }
    }
    &__nav-list-item {
        @include mobile-h2;
        text-align: center;
        width: 50%;
        @include tablet {
            width: 70%;
            padding-top: 36.859px;
            padding-bottom: 21.5px;
        }
        &--shows {
            @extend .header__nav-list-item;
            @include tablet {
                padding-left: 40%;
            }
        }
        &--underline {
            @extend .header__nav-list-item;
            border-bottom: 3px solid $color-text-field-border;
            @include tablet {
                padding-left: 5%;
                padding-right: 5%;
            }
        }
    } 
}

.hero {
    position: relative;
    @include flex-center;
    height: 60vw;
    width: 100%;
    background-image: url('../assets/images/Hero_Festival_Medium.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // filter: opacity(80%);
    // opacity: 0.5;
    // background-color: $color-hero-img-bg;
    // width: 100%;
    // padding-left: 5%;
    // padding-right: 5%;
    @include tablet {
        padding: 0;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: $color-hero-img-bg;
    }
    // &__image {
    //     width: 100%;
    //     opacity: 0.5;
    //     padding-top: .3%;
    // }
    &__text {
        position: absolute;
        @include mobile-h1;
        font-weight: bold;
        color: $color-text-offset;
        width: 85%;
        padding-right: 15%;
        @include tablet {
            @include tablap-h1-hero;
            width: 92%;
        }
    }
}

.about {
    @include flex-center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    @include tablet {
        padding-left: 3.125%;
        padding-right: 3.125%;    
    }
    &__common {
        color: $color-paragraph-text;
        width: 100%;        
    }
    &__title {
        @include mobile-h1;
        @extend .about__common;
        padding-top: 11%;
        padding-bottom: 8%;
        @include tablet {
            @include tablap-h1;
            padding-top: 7%;
            padding-bottom: 4%;
            }
    }
    &__image {
        width: 100%;
    }
    &__subhead {
        @include mobile-h2;
        @extend .about__common;
        font-weight: 600;
        padding-top: 9%;
        @include tablet {
            @include tablap-h2;
            padding-top: 7%;
        }
    }
    &__quote-name {
        @include mobile-h4-list-contact;
        @extend .about__common;
        font-weight: 600;
        padding-top: 11%;
        @include tablet {
            @include tablap-h3;
            padding-top: 4%;
        }
    }
    &__names {
        @extend .about__subhead;
        padding-top: 14%;
        @include tablet {
            @include tablap-h2;
            padding-top: 7%;
        }        
        &:after {
            content: '\00E9';
        }
    }
}

.about-detail {
    @include flex-center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    @include tablet {
        flex-direction: row;
        padding-left: 3.125%;
        padding-right: 3.125%;    
    }
    &__common {
        color: $color-paragraph-text;
        width: 100%;        
    }
    &__main-p {
        @include mobile-h5-label;
        @extend .about-detail__common;
        padding-top: 8%;    
        @include tablet {
            @include tablap-p-comments;
            padding-top: 3%;
            padding-bottom: 5%;
        }
        &--middle {
            display: none;
            @include tablet {
                display: block;
                padding-left: 3.25%;
            }
        }
        &--end {
            padding-bottom: 14%;
        }
    }
    &__spec-last-name {
        @include mobile-h5-label;
        @include tablet {
            @include tablap-p-comments;
        }
        &:after {
            content: $last-name;
        }
    }
}

.gallery {
    @include flex-center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    background-color: $color-text-field-bg-fill;
    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        padding-left: 0;
        padding-right: 0;    
    }
    &__title {
        @extend .about__title;
        @include tablet {
            @include tablap-h1;
            padding-left: 3.125%;
            padding-right: 3.125%;   
            padding-bottom: 8%; 
        }
    }
    &__images {
        &--img {
            width: 100%;
            padding-bottom: 6%;
            @include tablet {
                width: 32%;
                padding-left: 3.25%;
                padding-bottom: 3.25%;
            }
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
    background-color: $color-nav-bg-fill;
    &__header {
        @include tablet {
            display: flex;
            height: 15vw;
        }
    }
    &__header-left {
        width: 100%;
        @include tablet {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 70%;
        }
        &-GIT {
            @include tablap-h1;
            font-weight: 700;
            color: $color-text-offset;
            padding-top: 14%;
            padding-bottom: 5%;
            @include tablet {
                width: 65%;
                padding-top: 10%;
            }
        }
        &-icons {
            width: 65%;
            @include tablet {
                width: 50%;
            }
            &--icon {
                padding-right: 18%;
                @include tablet {
                    padding-top: 12%;
                    padding-right: 15%;
                }
             }     
        }
    }
    &__header-right {
        display: none;
        @include tablet {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 30%;
            padding-top: 3%;
        }
        &--logo {
            }
    }
    &__body {
        @include tablet {
            display: flex;
            align-content: center;
            align-items: center;
        }
    }
    &__body-item {
        color: $color-text-offset;
        width: 100%;
        margin: 0;
        @include tablet {
            padding-right: 5%;
        }
        &--h2 {
            @include mobile-h2;
            padding-top: 8%;
        }
        &--h2-2 {
            @extend .footer__body-item--h2;
            padding-top: 0;
            padding-bottom: 5%;
        }
        &--p {
            @include mobile-p;
        }
        &--p-2 {
            @extend .footer__body-item--p;
            padding-top: 8%;
        }
    }
    &__copyright {
        color: $color-text-offset;
        width: 70%;
        margin: 0;
        &--p {
            @include mobile-p;
            padding-top: 20%;
            padding-bottom: 20%;
            @include tablet {
                padding-top: 10%;
                padding-bottom: 10%;    
            }
        }
        &--cr {
            @include mobile-p;
            &:after {
                content: $copyright;
            }
        }
    }
}