@import "../styles/partials/common";

.hero {
    /* Hero Block */
    position: relative;
    @include flex-center;
    height: 60vw;
    width: 100%;
    @include hero-background('../assets/images/Hero_Woman.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    @include tablet {
        left: 0;
        padding: 0;
    }
    &::before {
        /* Hero Block - Pseudo Before Element */
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: $color-hero-img-bg;
    }
    &__text {
        /* Hero Block - Text Element */
        position: absolute;
        @include mobile-h1;
        font-weight: bold;
        color: $color-text-offset;
        width: 85%;
        padding-right: 15%;
        left: 5%;
        @include tablet {
            @include tablap-h1-hero;
            width: 92%;
            left: 3%;
        }
        @include desktop {
            width: 75%;
            padding-left: 12.5vw;
            left: 0;
        }
    }
    &__album-text {
        @extend .hero__text;
        top: 0;
        padding-top: 6%;
        @include mobile-h2(500);
        @include tablet {
            @include tablap-h2(600);
            padding-top: 9%;
        }
        @include desktop {
            padding-top: 16%;
        }
    }
    @include tablet {
        @include tablap-h1-hero;
        width: 100%;
        left: 0;
    }
    @include desktop {
        width: 100%;
        padding-left: 12.5vw;
        left: 0;
    }
}

.shows {
    /* Shows Block */
    @include flex-center;
    flex-direction: column;
    @include padding-lr(5%, 5%);
    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        @include padding-lr(0, 0);
    }
    @include desktop {
        @include padding-lr(12.5vw, 12.5vw);
    }
    &__common {
        /* Shows Block - Common Element */
        color: $color-paragraph-text;
        width: 100%;        
    }
    // &__title {
    //     /* About Block - Title Element */
    //     @include mobile-h1;
    //     @extend .about__common;
    //     @include padding-tb(11%, 8%);
    //     @include tablet {
    //         @include tablap-h1;
    //         @include padding-tb(7%, 4%);
    //         }
    //     @include desktop {
    //         @include padding-tb(5%, 5%);
    //     }
    // }
    &__title {
        /* Shows Block - Title Element */
        @include mobile-h1;
        @extend .shows__common;
        @include padding-tb(11%, 8%);
        @include tablet {
            @include tablap-h1;
            padding: 5% 3.125% 7% 3.125%;
        }
        @include desktop {
            @include padding-lr(0, 0);
        }
    }
}