@import "../styles/partials/common";

.hero {
    /* Hero Block */
    position: relative;
    @include flex-center;
    height: 140vw;
    width: 100%;
    @include hero-background('../assets/images/Hero_Woman_Medium.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    @include tablet {
        height: 80vw;
        left: 0;
        padding: 0;
    }
    @include desktop {
        height: 56vw;
    }
    &::before {
        /* Hero Block - Pseudo Before Element */
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: $color-hero-img-bg;
    }
    &__text {
        /* Hero Block - Text Element */
        position: absolute;
        @include tablap-h1;
        font-weight: bold;
        color: $color-text-offset;
        width: 95%;
        padding-right: 5%;
        left: 5%;
        top: 18%;
        @include tablet {
            @include tablap-h1-hero;
            line-height: 82px;
            width: 80%;
            left: 3%;
            top: 19%
        }
        @include desktop {
            width: 58%;
            padding-left: 12.5vw;
            top: 29%;
            left: 0;
        }
    }
    &__album-text {
        @extend .hero__text;
        top: 0;
        padding-top: 10%;
        @include mobile-h2(500);
        @include tablet {
            @include tablap-h2(600);
            padding-top: 9%;
        }
        @include desktop {
            padding-top: 12%;
        }
    }
    @include tablet {
        @include tablap-h1-hero;
        width: 100%;
        left: 0;
    }
    @include desktop {
        width: 100%;
        padding-left: 12.5vw;
        left: 0;
    }
}

.song {
    position: relative;
    width: 90%;
    height: 0;
    top: 30%;
    padding-bottom: 30%;
    @include tablet {
        width: 56%;
        top: 26%;
        left: -19%;
        padding-bottom: 17%;
    }
    @include desktop {
        width: 35%;
        top: -3%;
        left: 18%;
        padding-bottom: 12%;
    }
    & iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.shows {
    /* Shows Block */
    @include flex-center;
    flex-direction: column;
    @include padding-lr(5%, 5%);
    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        @include padding-lr(0, 0);
    }
    @include desktop {
        align-items: flex-start;
        @include padding-lr(12.5vw, 12.5vw);
    }
    &-title {
        width: 100%;
        @include desktop {
            width: 20%;
        }
    }
    &-detail {
        @include desktop {
            width: 75%;
            padding-top: 5%;
        }
    }
    &__common {
        /* Shows Block - Common Element */
        color: $color-paragraph-text;
        width: 100%;        
    }
    &__title {
        /* Shows Block - Title Element */
        @include mobile-h1;
        @extend .shows__common;
        @include padding-tb(11%, 8%);
        @include tablet {
            @include tablap-h1;
            padding: 5% 3.125% 4% 3.125%;
        }
        @include desktop {
            width: 55%;
            margin-left: -10%;
            padding-top: 20%;
            @include padding-lr(0, 0);
        }
    }
    &__header {
        display:none;
        @include tablet {
            display:flex;
            width: 100%;
            @include mobile-h5-label;
            color: $color-text-label-style;
            }
        &-dates {
            width:30%;
            padding-left: 3.125%;
        }
        &-venue {
            width: 22%;
        }
        &-location {
            width: 25%;
        }
    }
}

.show {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__date-header {
        @include mobile-h5-label($color-text-label-style);
        @include tablet {
            display:none;
        }
    }
    &__date {
        @include mobile-h2(600);
        padding-top: 1%;
        @include tablet {
            width: 30%;
            padding-top: 3%;
            padding-left: 3.125%;
        }
    }
    &__venue-header {
        @include mobile-h5-label($color-text-label-style);
        padding-top: 4%;
        @include tablet {
            display:none;
        }
    }
    &__venue {
        @include mobile-h2(400);
        padding-top: 1%;
        @include tablet {
            padding-top: 3%;
            width: 22%;
        }
    }
    &__location-header {
        @include mobile-h5-label($color-text-label-style);
        padding-top: 4%;
        @include tablet {
            display:none;
        }
    }
    &__location {
        @include mobile-h2(400);
        padding-top: 1%;
        padding-bottom: 8%;
        @include tablet {
            @include padding-tb(3%, 3%);
            width: 25%;
        }
    }
    &__cta {
        width: 100%;
        padding-bottom: 2%;
        @include tablet {
            width: 20vw;
            height: 50px;
            @include padding-tb(1%, 0);
        }
        @include desktop {
            width: 11vw;
        }
    }
    &__cta-button {
        color: $color-text-offset;
        background-color: $color-primary-cta;
        height: 16vw;
        width: 90vw;
        border: none;
        border-radius: 4px;
        @include tablet {
            width: 20vw;
            height: 50px;
        }
        @include desktop {
            width: 11vw;
        }
    }
    &__divider {
        border-top: 1px solid $color-text-label-style;
        width: 90vw;
        @include tablet {
            width: 94vw;
        }
        @include desktop {
            width: 52vw;
        }
    }
}