@import "../styles/partials/common";

.hero {
    /* Hero Block */
    position: relative;
    @include flex-center;
    height: 140vw;
    width: 100%;
    @include hero-background('../assets/images/Hero_Woman_Medium.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    @include tablet {
        height: 80vw;
        left: 0;
        padding: 0;
    }
    @include desktop {
        height: 56vw;
    }
    &::before {
        /* Hero Block - Pseudo Before Element */
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: $color-hero-img-bg;
    }
    &__text {
        /* Hero Block - Text Element */
        position: absolute;
        @include tablap-h1;
        font-weight: bold;
        color: $color-text-offset;
        width: 95%;
        padding-right: 5%;
        left: 5%;
        top: 18%;
        @include tablet {
            @include tablap-h1-hero;
            line-height: 82px;
            width: 80%;
            left: 3%;
            top: 19%
        }
        @include desktop {
            width: 58%;
            padding-left: 12.5vw;
            top: 29%;
            left: 0;
        }
    }
    &__album-text {
        @extend .hero__text;
        top: 0;
        padding-top: 10%;
        @include mobile-h2(500);
        @include tablet {
            @include tablap-h2(600);
            padding-top: 9%;
        }
        @include desktop {
            padding-top: 12%;
        }
    }
    @include tablet {
        @include tablap-h1-hero;
        width: 100%;
        left: 0;
    }
    @include desktop {
        width: 100%;
        padding-left: 12.5vw;
        left: 0;
    }
}

.song {
    position: relative;
    width: 90%;
    height: 0;
    top: 30%;
    padding-bottom: 30%;
    @include tablet {
        width: 56%;
        top: 26%;
        left: -19%;
        padding-bottom: 17%;
    }
    @include desktop {
        width: 35%;
        top: -3%;
        left: 18%;
        padding-bottom: 12%;
    }
    & iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.shows {
    /* Shows Block */
    @include flex-center;
    flex-direction: column;
    @include padding-lr(5%, 5%);
    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        @include padding-lr(0, 0);
    }
    @include desktop {
        @include padding-lr(12.5vw, 12.5vw);
    }
    &__common {
        /* Shows Block - Common Element */
        color: $color-paragraph-text;
        width: 100%;        
    }
    &__title {
        /* Shows Block - Title Element */
        @include mobile-h1;
        @extend .shows__common;
        @include padding-tb(11%, 8%);
        @include tablet {
            @include tablap-h1;
            padding: 5% 3.125% 7% 3.125%;
        }
        @include desktop {
            @include padding-lr(0, 0);
        }
    }
}