@import "./typography";
@import "./variables";
@import "./mixins";

* {
    box-sizing: border-box;
}
.body {
    /* Body Block */
    font-family: $font-family;
    margin: 0;
    width: 100%;
}

p {
    margin: 0;
}

a {
    /* Anchor Tag */
    text-decoration: none;
    color: $color-text-label-style;
    &:hover {
        color: rgb(143, 136, 149);
    }
}

.a {
    &--select {
        /* Anchor Tag Select Modifier */
        color: $color-text-offset;
    }
}

.header {
    /* Header Block */
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    background-color: $color-nav-bg-fill;
}
.navbar {
    /* Navigation Bar */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    @include tablet {
        flex-direction: row;
        justify-content: flex-start;
    }
    &__nav-link {
        /* Header Block - Navigation Link */
        margin: 15px 7% 0 3%;
        @include tablet {
            margin: 5px 7% 0 3%;
        }
        @include desktop {
            margin-left: 12.5vw;
            margin-right: 3.89vw;
        }
    }
    &__nav-list {
        /* Header Block - Navigation List */
        display: flex;
        list-style-type: none;
        padding: 0;
        margin-top: 8px;
        width: 100%;
        @include tablet {
            width: 20%;
            margin-top: 12px;
            align-items: flex-start; 
        }
    }
    &__nav-list-item {
        /* Header Block - Navigation List Item */
        @include mobile-h2();
        text-align: center;
        width: 50%;
        padding-bottom: 5.5px;
        @include tablet {
            width: 70%;
            @include padding-tb(37.859px, 20.5px);
        }
        &--shows {
            /* Header Block - Navigation List Item - Shows Modifier */
            @extend .navbar__nav-list-item;
            @include tablet {
                padding-left: 40%;
            }
            @include desktop {
                padding-left: 6%;
            }
        }
        &--underline {
            /* Header Block - Navigation List Item - Underline Modifier */
            @extend .navbar__nav-list-item;
            border-bottom: 4px solid $color-text-field-border;
            @include tablet {
                @include padding-lr(5%, 5%);
            }
            @include desktop {
                width: 7.5vw;
                @include padding-lr(1%, 1%);
            }
        }
    } 
}
