@font-face {
  font-family: 'Avenir Next';
  src: url("../assets/fonts/Linotype-AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("../assets/fonts/Linotype-AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("../assets/fonts/Linotype-AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  /* Main Block */
  background-color: #FFFFFF;
}

.body {
  /* Body Block */
  font-family: "Avenir Next", "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  width: 100%;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  /* Anchor Tag */
  text-decoration: none;
  color: #AFAFAF;
}

a:hover {
  color: #8f8895;
}

.a--highlight {
  /* Anchor Tag Highlight Modifier */
  color: #FFFFFF;
}

.header {
  /* Header Block */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  width: 100%;
  background-color: #323232;
}

.navbar {
  /* Navigation Bar */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
}

@media screen and (min-width: 768px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.navbar__nav-link {
  /* Header Block - Navigation Link */
  margin: 15px 7% 0 3%;
}

@media screen and (min-width: 768px) {
  .navbar__nav-link {
    margin: 5px 7% 0 3%;
  }
}

@media screen and (min-width: 1200px) {
  .navbar__nav-link {
    margin-left: 12.5vw;
    margin-right: 3.89vw;
  }
}

.navbar__nav-list {
  /* Header Block - Navigation List */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: 8px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .navbar__nav-list {
    width: 30%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .navbar__nav-list {
    width: 20%;
  }
}

.navbar__nav-list-item, .navbar__nav-list-item--underline {
  /* Header Block - Navigation List Item */
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  text-align: center;
  width: 50%;
  padding-bottom: 5.5px;
}

@media screen and (min-width: 768px) {
  .navbar__nav-list-item, .navbar__nav-list-item--underline {
    width: 50%;
    padding-top: 40.859px;
    padding-bottom: 0px;
  }
}

.navbar__nav-list-item--underline {
  border-bottom: 4px solid #E1E1E1;
}

@media screen and (min-width: 768px) {
  .navbar__nav-list-item--underline {
    border-bottom: none;
  }
  .navbar__nav-list-item--underline:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 86px;
    padding-top: 22px;
    border-bottom: 4px solid #E1E1E1;
  }
}

.footer {
  /* Footer Block */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2.5vh;
  padding-left: 3%;
  padding-right: 3%;
  background-color: #323232;
}

@media screen and (min-width: 768px) {
  .footer {
    margin-top: 3vh;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-left: 12.5vw;
    padding-right: 14.9vw;
  }
}

.footer__header {
  /* Footer Block - Header Element */
}

@media screen and (min-width: 768px) {
  .footer__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 15vw;
  }
}

@media screen and (min-width: 1200px) {
  .footer__header {
    height: 10vw;
  }
}

.footer__header-left {
  /* Footer Block - Header Left Element */
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer__header-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
  }
}

.footer__header-left-GIT {
  /* Footer Block - Header Left GIT Element */
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  color: #FFFFFF;
  padding-top: 14%;
  padding-bottom: 5%;
}

@media screen and (min-width: 768px) {
  .footer__header-left-GIT {
    width: 7.875em;
    padding-top: 6vh;
  }
}

@media screen and (min-width: 1200px) {
  .footer__header-left-GIT {
    font-size: 36px;
    line-height: 44px;
    width: 7.25em;
    padding-top: 3%;
  }
}

.footer__header-left-icons {
  /* Footer Block - Header Left Icons Element */
  width: 12em;
  padding-left: 2%;
}

@media screen and (min-width: 768px) {
  .footer__header-left-icons {
    width: 14.375em;
    padding-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__header-left-icons {
    height: 8em;
  }
}

.footer__header-left-icons--icon {
  /* Footer Block - Header Left Icons Element - Icon Modifier */
  padding-right: 18%;
}

@media screen and (min-width: 768px) {
  .footer__header-left-icons--icon {
    padding-top: 3.25vh;
    padding-right: 15%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__header-left-icons--icon {
    padding-top: 2.875em;
    padding-right: 2em;
  }
}

.footer__header-right {
  /* Footer Block - Header Right Element */
  display: none;
}

@media screen and (min-width: 768px) {
  .footer__header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    padding-top: 3vh;
  }
}

@media screen and (min-width: 1200px) {
  .footer__header-right {
    padding-top: 0;
    padding-bottom: 2vh;
  }
}

.addresses {
  /* Addresses Block */
}

@media screen and (min-width: 768px) {
  .addresses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.address {
  /* Address Block */
  color: #FFFFFF;
  width: 100%;
  height: 10.25em;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .address {
    width: 85%;
    padding-right: 3%;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    width: 16.375em;
    padding-right: 0;
  }
}

.address__name, .address__name2 {
  /* Address Block - Name Element */
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  padding-top: 3vh;
}

@media screen and (min-width: 768px) {
  .address__name, .address__name2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1200px) {
  .address__name, .address__name2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-top: 0;
  }
}

.address__name2 {
  /* Address Block - Name2 Element */
  padding-top: 0;
  padding-bottom: 2vh;
}

.address__street-city-state-zip, .address__email {
  /* Address Block - City-State-Zip Element */
  color: #FFFFFF;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}

@media screen and (min-width: 1200px) {
  .address__street-city-state-zip, .address__email {
    font-size: 14px;
    line-height: 22px;
  }
}

.address__email {
  /* Address Block - Email Element */
  color: #FFFFFF;
  padding-top: 3vh;
}

.copyright {
  /* Copyright Block */
  color: #FFFFFF;
  width: 70%;
  margin: 0;
}

.copyright__text {
  /* Copyright Block - Text Element */
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  padding-top: 4vh;
  padding-bottom: 5vh;
}

@media screen and (min-width: 768px) {
  .copyright__text {
    padding-top: 4vh;
    padding-bottom: 5vh;
  }
}

@media screen and (min-width: 1200px) {
  .copyright__text {
    font-size: 14px;
    line-height: 22px;
    padding-top: 2vh;
    padding-bottom: 3vh;
  }
}

.hero {
  /* Hero Block */
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vw;
  width: 100%;
  background-image: url("../assets/images/Hero_Festival_Medium.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 0;
  }
}

.hero::before {
  /* Hero Block - Pseudo Before Element */
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(50, 50, 50, 0.5);
}

.hero__text {
  /* Hero Block - Text Element */
  position: absolute;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  font-weight: bold;
  color: #FFFFFF;
  width: 85%;
  padding-right: 15%;
  left: 5%;
}

@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 60px;
    line-height: 68px;
    width: 92%;
    left: 3%;
  }
}

@media screen and (min-width: 1200px) {
  .hero__text {
    width: 70%;
    padding-left: 12.5vw;
    left: 0;
  }
}

.about {
  /* About Block */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}

@media screen and (min-width: 768px) {
  .about {
    padding-left: 3.125%;
    padding-right: 3.125%;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-left: 12.5vw;
    padding-right: 12.5vw;
  }
}

.about__common, .about__title, .photo-gallery__title, .about__subtitle, .about__names, .about__quote-name {
  /* About Block - Common Element */
  color: #323232;
  width: 100%;
}

.about__title, .photo-gallery__title {
  /* About Block - Title Element */
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  padding-top: 3vh;
  padding-bottom: 2vh;
}

@media screen and (min-width: 768px) {
  .about__title, .photo-gallery__title {
    font-size: 36px;
    line-height: 44px;
    padding-top: 5vh;
    padding-bottom: 3.5vh;
  }
}

@media screen and (min-width: 1200px) {
  .about__title, .photo-gallery__title {
    padding-top: 3.5vh;
    padding-bottom: 3.5vh;
  }
}

.about__image {
  /* About Block - Image Element */
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .about__image {
    padding-left: 7.8vw;
    padding-right: 7.8vw;
  }
}

.about__subtitle, .about__names {
  /* About Block - Subtitle Element */
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding-top: 2.5vh;
}

@media screen and (min-width: 768px) {
  .about__subtitle, .about__names {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    padding-top: 5vh;
  }
}

@media screen and (min-width: 1200px) {
  .about__subtitle, .about__names {
    padding-left: 7.8vw;
    padding-right: 7.8vw;
    padding-top: 3.5vh;
  }
}

.about__quote-name {
  /* About Block - Quote Name Element */
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  padding-top: 3vh;
}

@media screen and (min-width: 768px) {
  .about__quote-name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
}

@media screen and (min-width: 1200px) {
  .about__quote-name {
    padding-left: 7.8vw;
    padding-right: 7.8vw;
    padding-top: 2vh;
  }
}

.about__names {
  /* About Block - Names Element */
  padding-top: 3.5vh;
}

@media screen and (min-width: 768px) {
  .about__names {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    padding-top: 5vh;
  }
}

@media screen and (min-width: 1200px) {
  .about__names {
    padding-top: 3.5vh;
  }
}

.about-detail {
  /* About Detail Block */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}

@media screen and (min-width: 768px) {
  .about-detail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 3.125%;
    padding-right: 3.125%;
  }
}

@media screen and (min-width: 1200px) {
  .about-detail {
    padding-left: 20.4vw;
    padding-right: 20.4vw;
  }
}

.about-detail__common, .about-detail__paragraph {
  /* About Detail Block - Common Element */
  color: #323232;
  width: 100%;
}

.about-detail__paragraph {
  /* About Detail Block - Paragraph Element */
  font-size: 12px;
  line-height: 20px;
  color: #323232;
  padding-top: 1vh;
}

@media screen and (min-width: 768px) {
  .about-detail__paragraph {
    font-size: 14px;
    line-height: 22px;
    padding-top: 2vh;
    padding-bottom: 5vh;
  }
}

@media screen and (min-width: 1200px) {
  .about-detail__paragraph {
    padding-top: 1.5vh;
    padding-bottom: 3.5vh;
  }
}

.about-detail__paragraph--col-divider {
  /* About Detail Block - Paragraph Element - Column Divider Modifier */
  padding-top: 1.25vh;
}

@media screen and (min-width: 768px) {
  .about-detail__paragraph--col-divider {
    display: block;
    padding-left: 3.25%;
  }
}

@media screen and (min-width: 1200px) {
  .about-detail__paragraph--col-divider {
    padding-left: 5%;
  }
}

.about-detail__paragraph--end {
  /* About Detail Block - Paragraph Element - End Modifier */
  padding-bottom: 5vh;
}

.photo-gallery {
  /* Photo Gallery Block */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #FAFAFA;
}

@media screen and (min-width: 768px) {
  .photo-gallery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2vh;
  }
}

@media screen and (min-width: 1200px) {
  .photo-gallery {
    padding-left: 12.5vw;
    padding-right: 12.5vw;
  }
}

.photo-gallery__title {
  /* Photo Gallery Block - Title Element */
}

@media screen and (min-width: 768px) {
  .photo-gallery__title {
    font-size: 36px;
    line-height: 44px;
    padding: 5vh 3.125% 6vh 3.125%;
  }
}

@media screen and (min-width: 1200px) {
  .photo-gallery__title {
    padding: 4vh 1.75vw 4.25vw 1.25vw;
  }
}

.photo {
  /* Photo Block */
}

.photo__image {
  /* Photo Block - Image Element */
  width: 100%;
  padding-bottom: 1.25vh;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.photo__image:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

@media screen and (min-width: 768px) {
  .photo__image {
    width: 32%;
    padding-left: 2.5vw;
    padding-bottom: 2.5vw;
  }
}

@media screen and (min-width: 1200px) {
  .photo__image {
    padding-left: 1.25vw;
    padding-bottom: 1.25vw;
  }
}

.comments {
  /* Comments Block */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}

.comments__title {
  /* Comments Block - Title Element */
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  color: #323232;
  width: 100%;
  padding-top: 4vh;
  padding-bottom: 3vh;
}

@media screen and (min-width: 768px) {
  .comments__title {
    font-size: 36px;
    line-height: 44px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 104%;
  }
}

@media screen and (min-width: 1200px) {
  .comments__title {
    padding-top: 4vh;
    padding-bottom: 5vh;
    width: 80%;
  }
}

.comments__form {
  /* Comments Block - Form Element */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .comments__form {
    width: 88%;
    padding-left: 7%;
  }
}

@media screen and (min-width: 1200px) {
  .comments__form {
    width: 52%;
  }
}

.comments__form-image {
  /* Comments Block - Form Image Element */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45px;
  height: 45px;
  margin-top: 2.25vh;
}

.comments__form-main {
  /* Comments Block - Form Main Element */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 84%;
}

.comments__form-label, .comments__form-label--comment {
  /* Comments Block - Form Label Element */
  font-size: 12px;
  line-height: 20px;
  color: #AFAFAF;
  padding-left: 6%;
}

@media screen and (min-width: 768px) {
  .comments__form-label, .comments__form-label--comment {
    padding-left: 4%;
  }
}

.comments__form-label--comment {
  padding-top: 2vh;
  padding-left: 6%;
}

@media screen and (min-width: 768px) {
  .comments__form-label--comment {
    padding-left: 4%;
  }
}

.comments__form-input {
  /* Comments Block - Form Input Element */
  height: 45px;
  width: 71vw;
  border: 1px solid #AFAFAF;
  border-radius: 4px;
  padding-left: 6%;
  margin-left: 6%;
  background-color: #E1E1E1;
}

.comments__form-input:focus {
  border: 2px solid #000000;
}

.comments__form-input::-webkit-input-placeholder {
  color: #000000;
}

.comments__form-input:-ms-input-placeholder {
  color: #000000;
}

.comments__form-input::-ms-input-placeholder {
  color: #000000;
}

.comments__form-input::placeholder {
  color: #000000;
}

@media screen and (min-width: 768px) {
  .comments__form-input {
    width: 96%;
    margin-left: 4%;
  }
}

@media screen and (min-width: 1200px) {
  .comments__form-input {
    padding-left: 3%;
  }
}

.comments__form-textarea {
  /* Comments Block - Form Textarea Element */
  font-family: "Avenir Next", "Roboto", Arial, Helvetica, sans-serif;
  height: 110px;
  width: 71vw;
  border: 1px solid #AFAFAF;
  border-radius: 4px;
  margin-left: 6%;
  margin-bottom: 2vh;
  padding-left: 6%;
  padding-top: 2.25vh;
  background-color: #E1E1E1;
}

.comments__form-textarea:focus {
  border: 2px solid #000000;
}

.comments__form-textarea::-webkit-input-placeholder {
  color: #000000;
}

.comments__form-textarea:-ms-input-placeholder {
  color: #000000;
}

.comments__form-textarea::-ms-input-placeholder {
  color: #000000;
}

.comments__form-textarea::placeholder {
  color: #000000;
}

@media screen and (min-width: 768px) {
  .comments__form-textarea {
    width: 96%;
    margin-left: 4%;
  }
}

@media screen and (min-width: 1200px) {
  .comments__form-textarea {
    padding-left: 3%;
  }
}

.comments__form-button {
  /* Comments Block - Form Button Element */
  color: #FFFFFF;
  background-color: #323232;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 49px;
  width: 227px;
  margin-left: 10%;
  margin-bottom: 2.25vh;
  border: none;
  border-radius: 4px;
}

.comments__form-button:hover {
  background-color: #0065AD;
}

@media screen and (min-width: 768px) {
  .comments__form-button {
    width: 170px;
    height: 52px;
  }
}

.comments__history {
  /* Comments Block - History Element */
  width: 90vw;
}

@media screen and (min-width: 768px) {
  .comments__history {
    width: 68vw;
  }
}

@media screen and (min-width: 1200px) {
  .comments__history {
    width: 46vw;
    padding-left: 6vw;
  }
}

.comment {
  /* Comment Block */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.comment__image {
  /* Comment Block - Image Element */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45px;
  height: 45px;
  margin-top: .5vh;
}

.comment__detail {
  /* Comment Block - Detail Element */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 82%;
  padding-left: 5%;
}

.comment__header {
  /* Comment Block - Header Element */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding-top: .75vh;
}

.comment__header-name {
  /* Comment Block - Header Name Element */
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  width: 70%;
}

@media screen and (min-width: 768px) {
  .comment__header-name {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.comment__header-ts {
  /* Comment Block - Header TS (Time Stamp) Element */
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  width: 60%;
  color: #AFAFAF;
  text-align: right;
}

@media screen and (min-width: 768px) {
  .comment__header-ts {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 2%;
  }
}

.comment__comments {
  /* Comment Block - Comments Element */
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  width: 100%;
}

.comment__comments-text {
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.comment__divider {
  /* Comment Block - Divider Element */
  border-top: 2px solid #AFAFAF;
  width: 100%;
  margin-top: 1.5vh;
  margin-bottom: 2.25vh;
}

@media screen and (min-width: 768px) {
  .comment__divider {
    width: 68vw;
  }
}

@media screen and (min-width: 1200px) {
  .comment__divider {
    width: 37vw;
    margin-left: 0;
    margin-right: 0;
  }
}

.comment-image {
  /* Comment Image */
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #AFAFAF;
}
/*# sourceMappingURL=main.css.map */