@import "../styles/partials/common";

.hero {
    /* Hero Block */
    position: relative;
    @include flex-center;
    height: 140vw;
    width: 100%;
    @include hero-background('../assets/images/Hero_Woman_Medium.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    @include tablet {
        height: 80vw;
        left: 0;
        padding: 0;
    }
    @include desktop {
        height: 56vw;
    }
    &::before {
        /* Hero Block - Pseudo Before Element */
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: $color-hero-img-bg;
    }
    &__text {
        /* Hero Block - Text Element */
        position: absolute;
        @include tablap-h1;
        font-weight: bold;
        color: $color-text-offset;
        width: 95%;
        padding-right: 5%;
        left: 5%;
        top: 9vh;
        @include tablet {
            @include tablap-h1-hero;
            line-height: 82px;
            width: 80%;
            left: 3%;
            top: 14vh;
        }
        @include desktop {
            width: 58%;
            padding-left: 12.5vw;
            top: 24vh;
            left: 0;
        }
    }
    &__album-text {
        /* Hero Block - Album Text Element */
        @extend .hero__text;
        top: 0;
        padding-top: 5vh;
        @include mobile-h2(500);
        @include tablet {
            @include tablap-h2(600);
            padding-top: 8vh;
        }
        @include desktop {
            padding-top: 19vh;
        }
    }
    @include tablet {
        @include tablap-h1-hero;
        width: 100%;
        left: 0;
    }
    @include desktop {
        width: 100%;
        padding-left: 12.5vw;
        left: 0;
    }
}

.song {
    /* Song Block */
    position: relative;
    width: 288px;
    height: 134px;
    top: 13.5vh;
    padding-bottom: 15vh;
    @include tablet {
        width: 430px;
        top: 19vh;
        left: -19%;
        padding-bottom: 14vh;
    }
    @include desktop {
        width: 450px;
        height: 180px;
        top: -2vh;
        left: 18%;
        padding-bottom: 17vh;
    }
    & iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.shows {
    /* Shows Block */
    @include flex-center;
    flex-direction: column;
    @include padding-lr(5%, 5%);
    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        @include padding-lr(0, 0);
    }
    @include desktop {
        align-items: flex-start;
        @include padding-lr(12.5vw, 12.5vw);
        width: 105%;
    }
    &-title {
        /* Shows Block  - Shows Title Element */
        width: 100%;
        @include tablet {
            padding-top: 3vh;
        }
        @include desktop {
            width: 20%;
            padding-top: 1vh;
        }
    }
    &-detail {
        /* Shows Block - Shows Detail Element */
        @include desktop {
            width: 75%;
            padding-top: 2vh;
        }
    }
    &__common {
        /* Shows Block - Common Element */
        color: $color-paragraph-text;
        width: 100%;        
    }
    &__title {
        /* Shows Block - Title Element */
        @include mobile-h1;
        @extend .shows__common;
        @include padding-tb(3.5vh, 3vh);
        @include tablet {
            @include tablap-h1;
            padding: 1vh 3.125% 0 3.125%;
        }
        @include desktop {
            width: 55%;
            margin-left: -10%;
            padding-top: 3vh;
            @include padding-lr(0, 0);
        }
    }
    &__header {
        /* Shows Block - Header Element */
        display:none;
        @include tablet {
            display:flex;
            width: 100%;
            padding-top: 2vh;
            @include mobile-h5-label;
            color: $color-text-label-style;
            }
        @include desktop {
            padding-bottom: 2.5vh;
        }
        &-dates {
            /* Shows Block - Header Dates Element */
            width:30%;
            padding-left: 3.125%;
            @include desktop {
                padding-left: 0;
            }
        }
        &-venue {
            /* Shows Block - Header Venue Element */
            width: 22%;
        }
        &-location {
            /* Shows Block - Header Location Element */
            width: 25%;
        }
    }
}

.show {
    /* Show Block */
    display: flex;
    flex-direction: column;
    width: 100%;
    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
    }
    @include desktop {
        align-items: center;
    }
    &__date-header {
        /* Show Block - Date Header Element */
        @include mobile-h5-label($color-text-label-style);
        @include tablet {
            display:none;
        }
    }
    &__date {
        /* Show Block - Date Element */
        @include mobile-h2(600);
        padding-top: .25vh;
        @include tablet {
            width: 30%;
            height: 44px;
            padding-top: 3vh;
            padding-left: 3.125%;
        }
        @include desktop {
            // @include padding-tb(2vh, 1.5vh);
            padding: 0;
            height: 44px;
        }
    }
    &__venue-header {
        /* Show Block - Venue Header Element */
        @include mobile-h5-label($color-text-label-style);
        padding-top: 1.5vh;
        @include tablet {
            display:none;
        }
    }
    &__venue {
        /* Show Block - Venue Element */
        @include mobile-h2(400);
        padding-top: .25vh;
        @include tablet {
            padding-top: 3vh;
            width: 22%;
            height: 44px;
        }
        @include desktop {
            // @include padding-tb(2vh, 1.5vh);
            padding: 0;
            height: 44px;
        }
    }
    &__location-header {
        /* Show Block - Location Header Element */
        @include mobile-h5-label($color-text-label-style);
        padding-top: 1.5vh;
        @include tablet {
            display:none;
        }
    }
    &__location {
        /* Show Block - Location Element */
        @include mobile-h2(400);
        @include padding-tb(.25vh, 3vh);
        @include tablet {
            @include padding-tb(3vh, 6vh);
            width: 25%;
            height: 44px;
        }
        @include desktop {
            // @include padding-tb(2vh, 6.5vh);
            padding: 0;
            height: 44px;
        }
    }
    &__cta {
        /* Show Block - CTA Element */
        width: 100%;
        padding-bottom: 2%;
        @include tablet {
            width: 20vw;
            height: 50px;
            @include padding-tb(2vh, 0);
        }
        @include desktop {
            width: 11vw;
            // @include padding-tb(1vh, 0);
            padding: 1vh 0 7vh 0;
        }
    }
    &__cta-button {
        /* Show Block - CTA Button Element */
        color: $color-text-offset;
        background-color: $color-primary-cta;
        height: 16vw;
        width: 90vw;
        border: none;
        border-radius: 4px;
        &:hover {
            background-color: $color-primary-cta-hover;
        }
        @include tablet {
            width: 20vw;
            height: 50px;
        }
        @include desktop {
            width: 11vw;
        }
    }
    &__divider {
        /* Show Block - Divider Element */
        border-top: 1px solid $color-text-label-style;
        width: 90vw;
        @include tablet {
            width: 94vw;
        }
        @include desktop {
            width: 57vw;
            margin-top: 0vw;
            margin-right: 4.5vh;
        }
    }
}